<?xml version="1.0" ?>
<web-app>
	<display-name>Viaje Servlet</display-name>
	<description>Viaje App</description>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>AddUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/addUsers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPosts</servlet-name>
		<servlet-class>AddPostsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPosts</servlet-name>
		<url-pattern>/addPosts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddComments</servlet-name>
		<servlet-class>AddCommentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddComments</servlet-name>
		<url-pattern>/addComments</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUp</servlet-name>
		<servlet-class>AddUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUp</servlet-name>
		<url-pattern>/addUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFollowers</servlet-name>
		<servlet-class>AddFollowersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFollowers</servlet-name>
		<url-pattern>/addFollower</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFollowing</servlet-name>
		<servlet-class>AddFollowingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFollowing</servlet-name>
		<url-pattern>/addFollowing</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SessionCount</servlet-name>
		<servlet-class>CheckSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionCount</servlet-name>
		<url-pattern>/checksessioncount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SessionExistence</servlet-name>
		<servlet-class>CheckSessionExistenceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionExistence</servlet-name>
		<url-pattern>/checksessionexistence</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EndSession</servlet-name>
		<servlet-class>EndSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EndSession</servlet-name>
		<url-pattern>/endsession</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewsFeed</servlet-name>
		<servlet-class>NewsFeedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsFeed</servlet-name>
		<url-pattern>/newsFeed</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileHeader</servlet-name>
		<servlet-class>ProfileHeaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileHeader</servlet-name>
		<url-pattern>/userProfileHeader</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfilePosts</servlet-name>
		<servlet-class>ProfilePostsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilePosts</servlet-name>
		<url-pattern>/userProfilePosts</url-pattern>
	</servlet-mapping>
</web-app>
